PORT=4000
NODE_ENV=production
DATABASE_URL=postgresql://halabs_admin:CHANGE_ME_IN_PROD@127.0.0.1:5432/halabs_production
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=halabs_production
DB_USER=halabs_admin
DB_PASSWORD=CHANGE_ME_IN_PROD
JWT_SECRET=super-secret-jwt-key-change-in-production
S3_DELIVERABLES_BUCKET=ha-labs-deliverables-prod-xxxx
S3_BACKUPS_BUCKET=ha-labs-db-backups-prod-xxxx
AWS_REGION=ap-south-1
ALLOWED_ORIGIN=http://10.0.1.x
